<div class="container">
  <h1>Editing Marketing Product</h1>

  <%= render 'form', marketing_product: @marketing_product %>

  <%= link_to 'Show', @marketing_product %> |
  <%= link_to 'Back', marketing_products_path %>
</div>