<style>
  /* Resets */
  hr {
    margin-left: 0;
    max-width: 40px;
  }

  /* Jumbotron (hero) */
  .jumbotron {
    position: relative;
    height: 100vh;
    background: url(https://source.unsplash.com/9Y8vxVQN4o4/1920x1080) no-repeat bottom center / cover;

  &:before {
     position: absolute;
     content: '';
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, .5);
   }

  .container {
    padding: 75px 0;
  }

  h1,
  .lead {
    color: #fff;
  }
  }

  /* Bustom button */
  .btn-primary {
    background: #1096fc;
    border: 0;

  &:hover {
     background: darken(#1096fc, 7%);
   }
  }

  /* Features */
  .sec-features {
  .row {
  &:nth-of-type(n+2) {
     margin-top: 160px;
   }

  &:last-of-type {
     margin-bottom: 160px;
   }
  }

  .feature-icon {
    max-width: 150px;
  }
  }

  /* Testimonials */
  .sec-testimonials {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  /* Carousel */
  .carousel-indicators {
    bottom: -30px;

  li {
    background: rgba(33, 33, 33, .1);

  &:focus,
  &:hover {
     background: rgba(33, 33, 33, .5);
   }
  }

  .active {
    background: rgba(33, 33, 33, .75);
  }
  }

  .carousel-control-next,
  .carousel-control-prev {
  & {
    color: #212121;
  }

  &:focus,
  &:hover {
     color: #111;
   }
  }

  /* Footer */
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
    background: #212121;

  li {
  &:nth-of-type(n+2) {
     margin-left: 8px;
   }
  }

  a {
    font-size: 18px;
    color: rgba(255, 255, 255, .5);
    transition: color .235s ease-in-out;

  &:focus,
  &:hover {
     color: rgba(255, 255, 255, .25);
   }
  }
  }
</style><div class="wrapper">
  <section class="hero">
    <header>
    </header>

    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-10 col-lg-6">
            <h1 class="display-5"></h1>

            <p class="lead">
              <%= link_to 'Click here to view and create PDF', posts_path, class: 'btn btn-primary', style: 'color:#fff' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="footer">
    <div class="container">
      <ul class="list-inline mb-0 text-center">
        <p>Powered By <a href="https://tecaudex.com/"> Tecaudex</a></p>
      </ul>
    </div>
  </footer>
</div>