<style>
  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-bottom: 5px;
  }

  th,
  td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
  }

  th {
    text-align: center;
  }
  th {
    background-color: #55608f;
    color: white;
  }
</style>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Product Type</th>
    <th>GTIN Number</th>
    <th>Code</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= product.try(:name) %></td>
    <td><%= product.try(:product_type) %></td>
    <td><%= product.try(:gtin) %></td>
    <td><%= product.try(:code) %></td>
  </tr>
  </tbody>
</table>

